<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:dt="http://github.com/dandelion/datatables"
      layout:decorator="layout">
<head>
  <title th:text="#{equatic.institutionsScores.title}">
    Title
  </title>
  <link rel="stylesheet" th:href="@{/css/select2.css}" href="../../../static/css/select2.css"/>
  <link rel="stylesheet" th:href="@{/css/isceds.css}" href="../../../static/css/isceds.css"/>
  <link rel="stylesheet" th:href="@{/css/institution-report.css}" href="../../../static/css/institution-report.css"/>
  <script type="text/javascript" th:src="@{/js/select2.min.js}" src="../../../static/js/select2.min.js"></script>
  <script type="text/javascript" th:src="@{/js/isceds.js}" src="../../../static/js/isceds.js"></script>
  <script type="text/javascript" th:src="@{/js/NumberGauge.custom.min.js}"
          src="../../../static/js/NumberGauge.custom.min.js"></script>
  <script type="text/javascript" th:src="@{/js/NumberGauge.min.js}"
          src="../../../static/js/NumberGauge.min.js"></script>
</head>
<body>
<div layout:fragment="title" th:text="#{equatic.institutionsScores.title}">
  Title
</div>
<div layout:fragment="container" class="container">
  <div layout:include="institutionsScoresForm :: institutionsScoresForm(
    @{/user/{type}/institutionsScores(type=${type})},
    ${options},${institution},${allIndicatorCodes},${allAcademicYears},${allPartnerInstitutions},${allBroadIsceds},
    true,true,${institutionsScoresMap != null})">
    Institutions scores form
  </div>

  <!--/*@thymesVar id="options" type="be.ugent.equatic.web.util.InstitutionsScoresOptions"*/-->
  <!--/*@thymesVar id="mode" type="be.ugent.equatic.web.util.InstitutionsScoresMode"*/-->
  <!--/*@thymesVar id="institutionsScoresMap" type="java.util.Map"*/-->
  <!--/*@thymesVar id="countriesScoresMap" type="java.util.Map"*/-->
  <table id="institutionsScoresTable" class="table" dt:table="true" dt:theme="bootstrap3"
         th:with="scoresMap = ${institutionsScoresMap} ? ${institutionsScoresMap} : ${countriesScoresMap}">
    <thead>
    <tr>
      <th th:text="#{equatic.institution}" th:if="${institutionsScoresMap}">Institution</th>
      <th th:text="#{equatic.country}" dt:sortInitDirection="asc">Country</th>
      <th th:each="indicatorCode : ${options.indicatorCodes}"
          th:if="${mode == T(be.ugent.equatic.web.util.InstitutionsScoresMode).DETAILED}">
        <span th:text="${indicatorCode.indicator.name}">Indicator</span>
        <span th:title="${indicatorCode.indicator.description}" class="glyphicon glyphicon-info-sign"></span>
      </th>
      <th th:each="clusterCode : ${allClusterCodes}" th:text="${clusterCode.cluster.name}"
          th:if="${mode == T(be.ugent.equatic.web.util.InstitutionsScoresMode).CLUSTERS}">
        Cluster
      </th>
      <th th:if="${mode == T(be.ugent.equatic.web.util.InstitutionsScoresMode).CLUSTERS}"
          th:text="#{equatic.overallScore}">
        Overall score
      </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="scoresEntry : ${scoresMap}"
        th:with="country = ${institutionsScoresMap} ? ${scoresEntry.key.country} : ${scoresEntry.key}">
      <!--suppress ThymeleafVariablesResolveInspection -->
      <td th:text="${scoresEntry.key.displayName}" th:if="${institutionsScoresMap}">Ghent University</td>
      <!--suppress ThymeleafVariablesResolveInspection -->
      <td th:text="${country.name}">Belgium</td>
      <!--suppress ThymeleafVariablesResolveInspection -->
      <td th:each="score, iterStat : ${scoresEntry.value}">
        <!--/*@thymesVar id="score" type="be.ugent.equatic.indicator.Score"*/-->
        <div th:if="${score}">
          <span th:text="${#numbers.formatDecimal(score.value, 1, 2, 'POINT')}">
            10.0
          </span><sup aria-hidden="true" data-toggle="modal"
                      th:attr="data-target='#modal-' + ${scoresEntry.key.id} + '-' + ${iterStat.index}"
                      th:if="${score.studentsCount}"><span th:text="${score.studentsCount}" class="students-count">
            5
          </span></sup>
          <div th:id="'modal-' + ${scoresEntry.key.id} + '-' + ${iterStat.index}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="tbl-container">
                    <div class="tbl-row">
                      <div class="tbl-cell gauge width40 rounded-bottomleft">
                        <div class="gauge gaugeperform"
                             th:attr="data-value=${score.value},data-standard-error=${score.standardError}"></div>
                      </div>
                      <div class="tbl-cell width60">
                        <div class="tbl-container-inner">
                          <div class="tbl-row singleitem">
                            <div layout:include="user/institutional/referenceGroup :: referenceGroup(${score.studentsCount})"
                                 class="tbl-cell data rounded-bottomright" style="font-size: 20px; line-height: 3em;">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <span th:unless="${score}"></span>
      </td>
    </tr>
    </tbody>
  </table>

  <script th:inline="javascript">
      $(function () {
          $('.gaugeperform').each(function () {
              var score = Math.round($(this).data('value'));
              var properties = {
                  value: score,
                  thresholds: '0,0'
              };

              var standardError = $(this).data('standardError');
              if (standardError !== undefined) {
                  var lowerErrorThreshold = Math.max(score - standardError, 0);
                  var upperErrorThreshold = Math.min(score + standardError, 100);
                  properties.arrows = lowerErrorThreshold + ',' + upperErrorThreshold;
              }

              new NumberGauge({target: this, props: properties});
          });
      });
  </script>
</div>
</body>
</html>