<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title th:text="#{equatic.account.forgotPassword.title}">
    Title
  </title>
  <link rel="stylesheet" th:href="@{/css/typeaheadjs.css}" href="../../static/css/typeaheadjs.css"/>
  <script type="text/javascript" th:src="@{/js/account.js}" src="../../static/js/account.js"></script>
  <script type="text/javascript" th:src="@{/js/typeahead.bundle.js}" src="../../static/js/typeahead.bundle.js"></script>
</head>
<body>
<div layout:fragment="title" th:text="#{equatic.account.forgotPassword.title}">
  Title
</div>
<div layout:fragment="container" class="container">
  <div layout:include="message :: message(message=${message})">
    Message
  </div>

  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h2 class="center-text" th:text="#{equatic.account.forgotPassword.header}">Header</h2>

      <form class="form-horizontal" th:action="@{/account/forgotPassword}" method="post">
        <div class="form-group required">
          <label for="select-inst" class="col-sm-4 control-label">Institution</label>

          <div class="col-sm-6">
            <select id="select-inst" class="form-control" name="institution" readonly="readonly">
              <option th:value="${institution.id}" th:text="${institution.displayName}" selected="selected"></option>
            </select>
          </div>
        </div>

        <div class="form-group required">
          <label for="input-email" class="col-sm-4 control-label" th:text="#{equatic.email}">E-mail</label>

          <div class="col-sm-6">
            <input id="input-email" class="form-control" th:placeholder="#{equatic.email}" name="email"/>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-6">
            <input id="button-reset-password" type="submit" value="Reset password"
                   th:value="#{equatic.account.resetPassword}" class="btn btn-primary"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>