<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title th:text="#{equatic.account.resetPassword.title}">
    Title
  </title>
</head>
<body>
<div layout:fragment="title" th:text="#{equatic.account.resetPassword.title}">
  Title
</div>
<div layout:fragment="container" class="container">
  <div layout:include="message :: message(message=${message})">
    Message
  </div>

  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h2 class="center-text" th:text="#{equatic.account.resetPassword.header}">Header</h2>

      <form class="form-horizontal" th:action="@{/account/resetPassword}" th:object="${passwordForm}" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="col-sm-offset-2 col-sm-8">
          <div layout:include="formErrors :: formErrors(errors=${#fields.errors('*')})">
            Form errors
          </div>
        </div>

        <!--/*@thymesVar id="token" type="String"*/-->
        <input type="hidden" name="token" th:value="${token}"/>

        <div class="form-group required" th:classappend="${#fields.hasErrors('rawPassword')} ? 'has-error'">
          <label for="input-password" class="col-sm-4 control-label" th:text="#{equatic.account.password}">Password</label>

          <div class="col-sm-6">
            <input type="password" class="form-control" id="input-password" placeholder="Password"
                   th:field="*{rawPassword}"/>
          </div>
        </div>
        <div class="form-group required" th:classappend="${#fields.hasErrors('confirmRawPassword')} ? 'has-error'">
          <label for="input-confirm-password" class="col-sm-4 control-label"
                 th:text="#{equatic.account.confirmPassword}">Confirm Password</label>

          <div class="col-sm-6">
            <input type="password" class="form-control" id="input-confirm-password" placeholder="Confirm Password"
                   th:field="*{confirmRawPassword}"/>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-6">
            <input id="submit-reset-password" type="submit" value="Create" th:value="#{equatic.account.resetPassword}"
                   class="btn btn-success"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>