<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body layout:fragment="fileUpload">
<div class="input-group">
  <span class="input-group-btn">
    <span class="btn btn-primary btn-file btn-sm">
      <span th:text="#{equatic.selectFile}">Select file</span>
      <input id="upload-file" type="file" name="file"/>
    </span>
  </span>
  <input type="text" class="form-control input-sm" size="30" readonly="readonly"/>
</div>
<button type="submit" class="btn btn-success btn-sm btn-upload" th:text="#{equatic.upload}"
        th:attr="data-loading-text='&lt;span class=\'glyphicon glyphicon-refresh glyphicon-refresh-animate\'&gt;&lt;/span&gt; ' + #{equatic.loading}">
  Upload
</button>
</body>
</html>